body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-weight {
    width: 40%;
    padding-left: 15%;
}

.half-weight img {
    width: 80%;
    padding-right: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 100px;
}